    Loader {
        Layout.fillWidth: true
        active: {{ visible }}
        visible: active
        sourceComponent: Component {
            {{ component }} {
                Layout.fillWidth: true
            }
        }
    }
